@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #A020F0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* img {
    width: 100%;
} */

.container {

    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: -50px;
}

.quiz-box {
    background-color: #eee;
    width: 600px;
    padding: 2rem 5rem 5rem 5rem;
    border-radius: 10px;
    border: solid 2px var(--color-primary);
    align-items: center;
    justify-content: center;
}


.quiz-box h1 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
    background-color: #9d0191;
    border-radius: 5px;
    color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    outline: none;

}

.quiz-header p {
    font-weight: 600;
}

.quiz-header #countdown {
    background-color: var(--color-sec);
    color: white;
    padding: 10px;
}

.quiz-header #progress {
    color: var(--dark-grey);
    font-size: 1.8rem;
    font-weight: 600;
}


.quiz-box #questions {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-sec);
    border: 1px solid #777;
    border-width: 1px 0;
    padding: 5px 0;

}

.buttons {
    margin: 1.3rem 0 4em 0;
}

.btn {
    font-weight: 700;
    width: 100%;
    display: flex;
    text-align: left;
    padding: 2rem;
    border-radius: 5px;
    margin: 7px 0;
    outline: none;
    border: 1px solid var(--color-primary);
}

.btn:hover {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

.btn:active {
    background-color: var(--color-sec);
}

#score {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}



.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}

.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color: orangered;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}

.quiz-repeat a:hover {
    background-color: var(--color-primary)
}